<style>
#container {
  padding: 0;
}
.competition h1 {
  margin-bottom: 0;
}
.competition table {
  width: auto;
  margin: 0 auto;
}
.competition img {
  max-width: 150px;
  border-radius: 50%;
  padding: 0 10px;
}

.grid-stack .grid-stack-item .grid-stack-item-content,
.grid-stack .grid-stack-item .placeholder-content {
  left: 5px;
  right: 5px;
}
.grid-stack .grid-stack-item .grid-stack-item-content h1 {
  position: relative;
  top: 10%;
}
.grid-stack .grid-stack-item .grid-stack-item-content h2.value {
  position: relative;
  top: 18%;
}
.grid-stack .grid-stack-item .grid-stack-item-content h3.text {
  position: relative;
  top: 16%;
}
.grid-stack .grid-stack-item .grid-stack-item-content ol {
  position: relative;
  top: 15%;
}

.grid-stack .grid-stack-item .grid-stack-item-content.widget-comments h3 {
  font-size: 22px;
}
.grid-stack .grid-stack-item .grid-stack-item-content.widget-comments .comment-container {
  position: relative;
  top: 15%;
}

.grid-stack .grid-stack-item .grid-stack-item-content.widget-meter h1 {
  margin-bottom: 10%;
}

.grid-stack .grid-stack-item .grid-stack-item-content .more-info {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
.grid-stack .grid-stack-item .grid-stack-item-content.widget-meter .more-info {
  font-size: 150%;
  color: #fff;
}

.widget-big-image img {
  width: auto;
  height: 100%;
}

.change-rate {
  margin-top: 11%;
}

@media only screen and (min-width:0px) and (max-width:767px) {
  .grid-stack .grid-stack-item .grid-stack-item-content ol li {
    font-size: 80%;
    margin-bottom: 2px;
  }
  .grid-stack .grid-stack-item .grid-stack-item-content h3.text {
    position: relative;
    top: 10%;
  }
}
</style>
<% content_for :title do %>Biggest Loser 2018<% end %>
<div class="grid-stack">
  <div class="grid-stack-item competition" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="1">
    <div class="grid-stack-item-content" data-id="welcome" data-view="Text" data-title="Biggest Loser 2018" data-title-fr="Le plus grand perdant 2018" data-text="" data-moreinfo="Real-time weight loss competition data!" data-moreinfo-fr="Données de compétition de perte de poids en temps réel!">
    </div>
  </div>

  <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="3" data-gs-height="3"> 
    <div class="grid-stack-item-content" data-id="image" data-view="BigImage" data-image="https://pbs.twimg.com/profile_images/1539814425/avatar_400x400.JPEG"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="3" data-gs-y="1" data-gs-width="3" data-gs-height="3">
    <div class="grid-stack-item-content" data-id="biggestloser-Sean" data-view="Number" data-title="Sean Kibbee" data-moreinfo="Weight Change" data-moreinfo-fr="Changement de poids" data-suffix=" lbs" style="background-color: #7b4e2a;"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="6" data-gs-y="4" data-gs-width="3" data-gs-height="3"> 
    <div class="grid-stack-item-content" class="grid-stack-item-content" data-id="image" data-view="BigImage" data-image="https://pbs.twimg.com/profile_images/773848469266108416/dlZFTii__400x400.jpg"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="10" data-gs-y="4" data-gs-width="3" data-gs-height="3">
    <div class="grid-stack-item-content" data-id="biggestloser-Mark" data-view="Number" data-title="Mark Wooff" data-moreinfo="Weight Change" data-moreinfo-fr="Changement de poids" data-suffix=" lbs" style="background-color: #9997c8;"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="0" data-gs-y="7" data-gs-width="3" data-gs-height="3"> 
    <div class="grid-stack-item-content" class="grid-stack-item-content" data-id="image" data-view="BigImage" data-image="https://pbs.twimg.com/profile_images/93834005/moi_voiture_400x400.jpg"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="3" data-gs-y="7" data-gs-width="3" data-gs-height="3">
    <div class="grid-stack-item-content" data-id="biggestloser-Phil" data-view="Number" data-title="Philippe Andrecheck" data-moreinfo="Weight Change" data-moreinfo-fr="Changement de poids" data-suffix=" lbs" style="background-color: #59889c;"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="6" data-gs-y="10" data-gs-width="3" data-gs-height="3"> 
    <div class="grid-stack-item-content" class="grid-stack-item-content" data-id="image" data-view="BigImage" data-image="https://pbs.twimg.com/profile_images/837370914073276416/F_i4T9Pn_400x400.jpg"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="10" data-gs-y="10" data-gs-width="3" data-gs-height="3">
    <div class="grid-stack-item-content" data-id="biggestloser-Derek" data-view="Number" data-title="Derek Alton" data-moreinfo="Weight Change" data-moreinfo-fr="Changement de poids" data-suffix=" lbs" style="background-color: #1e263c;"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="0" data-gs-y="10" data-gs-width="3" data-gs-height="3"> 
    <div class="grid-stack-item-content" class="grid-stack-item-content" data-id="image" data-view="BigImage" data-image="https://pbs.twimg.com/profile_images/755405024730222592/kfnhGoYu_400x400.jpg"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="3" data-gs-y="10" data-gs-width="3" data-gs-height="3">
    <div class="grid-stack-item-content" data-id="biggestloser-Jeff" data-view="Number" data-title="Jeff Outram" data-moreinfo="Weight Change" data-moreinfo-fr="Changement de poids" data-suffix=" lbs" style="background-color: #547c01;"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="6" data-gs-y="10" data-gs-width="3" data-gs-height="3"> 
    <div class="grid-stack-item-content" class="grid-stack-item-content" data-id="image" data-view="BigImage" data-image="https://pbs.twimg.com/profile_images/1783858174/IMG_7599_640x480_400x400.jpg"></div>
  </div>

  <div class="grid-stack-item" data-gs-x="10" data-gs-y="10" data-gs-width="3" data-gs-height="3">
    <div class="grid-stack-item-content" data-id="biggestloser-Christian" data-view="Number" data-title="Christian Poulin" data-moreinfo="Weight Change" data-moreinfo-fr="Changement de poids" data-suffix=" lbs" style="background-color: #8f2d9d;"></div>
  </div>
</div>

<script type="text/javascript">
Lang = false;
$(function() {
  window.setInterval(DoLang, 30000);
  DoLang();
  
  function DoLang(){
    if(Lang){
      title = "data-title";
      text = "data-moreinfo";
    } else {
      title = "data-title-fr";
      text = "data-moreinfo-fr";
    }

    $( ".title" ).each(function( i, obj ) {
      if(typeof $(obj).attr("data-bind") != 'undefined'){
          if(typeof $(obj).parent().attr(title) != 'undefined'){
            $(obj).text($(obj).parent().attr(title));
          }
        }
    });

    $( ".more-info" ).each(function( i, obj ) {
      if(typeof $(obj).attr("data-bind") != 'undefined'){
          if(typeof $(obj).parent().attr(text) != 'undefined'){
            $(obj).html($(obj).parent().attr(text));
          }
        }
    });
    
    Lang = !Lang;
  }
});
</script>